extends layout

block head
    link(rel="stylesheet", href="/style/viewPost.css")
    title #{title} - Fotaza
block main
    #postHeader
        h1#title #{title}
        #postData Publicado por: 
            a(href=`/profile/${author.id}`) #{`${author.username}`}
            span #{` el ${new Date(createdAt).toLocaleString('es-AR')}`}
    #gallery
        button#btn_p.gbtns(type="button") <
        #mediaContainer
            each f in files
                if !user && f.watermark
                    .media(style='display: none', data-file-id=`${f.id}`)
                        h2 Este archivo está protegido.
                        h2 Inicia sesión para visualizarlo!
                    -continue
                .media(style='display: none', data-file-id=`${f.id}`)
                    if f.mimetype.startsWith('image')
                        img(src=f.url)
                    else 
                        video(src=f.url, controls, muted)
        button#btn_n.gbtns(type="button") >
    if user
        form#ratingForm(action="", method="post")
            .rating
                input#star5(type="radio" name="rating" value="5")
                label(for="star5") ★
                input#star4(type="radio" name="rating" value="4")
                label(for="star4") ★
                input#star3(type="radio" name="rating" value="3")
                label(for="star3") ★
                input#star2(type="radio" name="rating" value="2")
                label(for="star2") ★
                input#star1(type="radio" name="rating" value="1")
                label(for="star1") ★
    p#promedio
        
    #postContent
        #desc: p #{desc}
        #tags: p tags: 
            =tags.map(t => t.tag).join(', ')
    #commentsBox
        if user
            form#postComment 
                textarea#comment(name="text", placeholder='Deja un commentario.') 
                button(type="submit") ⮞
        #comments
            

    script(type='module', src="/script/viewPost.js") 
        
        

