extends layout

block head
    link(rel="stylesheet", href="/style/viewPost.css")
    title #{title} - Fotaza
block body
    main
        #postHeader
            h1#title #{title}
            #postData Publicado por: 
                a(href=`/profile/${author.id}`) #{`${author.username}`}
                span #{` el ${new Date(createdAt).toLocaleDateString('es-AR')}`}
        #gallery
            button#btn_p.gbtns(type="button") <
            #mediaContainer
            button#btn_n.gbtns(type="button") >
        form#ratingForm(action="", method="post")
        .rating
            input#star5(type="radio" name="rating" value="5")
            label(for="star5") ★
            input#star4(type="radio" name="rating" value="4")
            label(for="star4") ★
            input#star3(type="radio" name="rating" value="3")
            label(for="star3") ★
            input#star2(type="radio" name="rating" value="2")
            label(for="star2") ★
            input#star1(type="radio" name="rating" value="1")
            label(for="star1") ★
            
        #postContent
            #desc: p #{desc}
            #tags: p tags: 
                =tags.map(t => t.tag).join(', ')
        form#postComment(action="", method="post") 
            textarea(name="text", placeholder='Deja un commentario.') 
            button(type="submit") ⮞
        #comments
             

    script(type='module', src="/script/viewPost.js") 
        
        

