extends layout
include mixins/postCard
block head
    title Perfil de #{profile.username}
block main
    #profileHeader 
        h1#userName #{profile.username}
        if (user && !isOwn)
            button#FollowBtn(type="button") #{`${isFollowing ? 'Dejar de seguir' : 'Seguir'}`}
    #principal
        #recientes
            h3 Recientes
            each p in recientes
                +postCard(p)

        aside#valorados 
            h3 Más votados
            each p in votados
                +postCard(p)
    #profileId(style='display: none') #{profile.id}