extends layout 
include mixins/postCard
block head
    title Fotaza - Busqueda
    link(rel="stylesheet", href="/style/search.css")
block main 
    #resultados
        h1 Resultados de la busqueda:
        if (users.length == 0 && posts.length == 0) 
            h1 No hay resultados!
        else
            if (users.length > 0)
                h2 Usuarios:
                #users
                    each u in users
                        .userCard
                            a(href=`/profile/${u.id}`): h3 #{u.username}
            if (posts.length > 0)
                h2 Publicaciones:
                #posts
                    each p in posts
                        +postCard(p)
                if totalPages > 1
                    .pagination-container
                        ul.pagination
                            if page > 1
                                li: a.btn-page(href=`/?page=${page - 1}&limit=${limit}`) « Anterior
                            else
                                li: span.btn-page.disabled « Anterior
                            - let i = 1;
                            while i <= totalPages
                                li
                                    if i === page
                                        span.btn-page.active= i
                                    else
                                        a.btn-page(href=`/?page=${i}&limit=${limit}`)= i
                                - i++;
                            if page < totalPages
                                li: a.btn-page(href=`/?page=${page + 1}&limit=${limit}`) Siguiente »
                            else
                                li: span.btn-page.disabled Siguiente »
            