mixin postCard(p)
    .postCard(id=`${p.id}`)
        .postCardHeader
            .postCardTitle
                h2 #{p.title}
            .postCardData
                if p.author
                    .postCardAuthor
                        span Publicado por: 
                            a(href=`/profile/${p.author.id}`)= p.author.username
                .postCardCreatedAt: span= new Date(p.createdAt).toLocaleDateString('es-AR')
        .postCardMiniatures
            if p.files
                each file in p.files
                    if file.mimetype.startsWith('image')
                        img(src=file.location, alt=file.originalName)
                    else if file.mimetype.startsWith('video')
                        video(src=file.location) 
        .postTags
            div
            span tags: 
                for tag in p.tags
                    a(href=`/search/?tags=on&q=${tag.tag}`).tag: span #{tag.tag}
                